<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content pc">
        <div data-key="65" class="key">clap</div>
        <div data-key="68" class="key">kick</div>
        <div data-key="71" class="key">boom</div>
        <div data-key="72" class="key">ride</div>
        <div data-key="75" class="key">tom</div>
        <div data-key="76" class="key">tink</div>
        <div data-key="83" class="key">hihat</div>
        <div data-key="70" class="key">openhat</div>
        <div data-key="74" class="key">snare</div>
      </div>
    </div>
    <audio data-key="65" src="assets/sounds/clap.wav"></audio>
    <audio data-key="83" src="assets/sounds/hihat.wav"></audio>
    <audio data-key="68" src="assets/sounds/kick.wav"></audio>
    <audio data-key="70" src="assets/sounds/openhat.wav"></audio>
    <audio data-key="71" src="assets/sounds/boom.wav"></audio>
    <audio data-key="72" src="assets/sounds/ride.wav"></audio>
    <audio data-key="74" src="assets/sounds/snare.wav"></audio>
    <audio data-key="75" src="assets/sounds/tom.wav"></audio>
    <audio data-key="76" src="assets/sounds/tink.wav"></audio>
    <script src="/javascripts/pcMain.js"></script>
  </body>
</html>
