<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content mobile">
      <div data-key="65" class="key">clap</div>
      <div data-key="68" class="key">kick</div>
      <div data-key="71" class="key">boom</div>
      <div data-key="72" class="key">ride</div>
      <div data-key="75" class="key">tom</div>
      <div data-key="76" class="key">tink</div>
      <div data-key="83" class="key">hihat</div>
      <div data-key="70" class="key">openhat</div>
      <div data-key="74" class="key">snare</div>
    </div>
    <script src="/javascripts/mobileMain.js"></script>
  </body>
</html>
